

.App {
  margin: 30px 60px;
}

$blue: #1c75bc;
$green: #87c154;

$blue-li-20: #4991c9;
$blue-li-50: #8ebade;
$green-li-50: #c3e0aa;

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;

  > a {
    display: flex;
  }

  img {
    height: 2.5em;
  }
}

h1 {
  font-size: 28px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;

  > a {
    margin: 10px;
    font-size: 20px;
  }
}

a {
  text-decoration: none;
  color: $blue;
}

a:hover {
  font-weight: bold;
}

figure {
  // border: 2px solid black;
  width: 200px;
  padding: 20px;

  border-radius: 10px;

  background-color: $blue-li-50;

  figcaption {
    margin-top: 1em;
    text-align: center;
  }

  .round-frame {
    overflow: hidden;
    height: 200px;
    border-radius: 100px;
    img {
      margin: 0px;
    }
  }

  &.aside-right {
    margin-inline-end: 0px;
    float: right;
  }

  &.aside-left {
    margin-inline-start: 0px;
    float: left;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}

.testimonial {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

section {
  margin: 10px 0px;
}

.carousel {
  margin-bottom: 3em;
}

.quizlet {
  padding: 1em;
  background-color: lightgray;

  .grade-level-menu {
    justify-content: flex-start;
    margin-bottom: 1em;

    button {
      background-color: transparent;
      border: none;
      font-size: 16px;
      font-weight: bold;
      color: gray;
      margin-right: 3em;

      &:hover {
        color: black;
      }
    }
  }

  .problem {
    margin: .5em;
  }

  .answers {
    margin-top: 1em;


    button {
      margin-top: .5em;
      width: 100%;
      height: 3em;
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;

  // position: absolute;
  // bottom: 0px;
  // left: 0px;
  // padding: 30px 60px;
  // box-sizing: border-box;

  width: 100%;

  .footer-contact a {
    margin-left: 1em;
  }
};

.splash-text {
  font-size: 20px;
}

.shiny-button {
  display: inline-block;
  background-color: $blue;
  border: none;
  padding: .5em;
  color: white;
  border-radius: .25em;
  font-weight: 500;
  font-size: 10pt;
}

.shiny-button:hover {
  font-weight: 500;
}

.service {
  position: relative;
  margin-bottom: 1em;

  border: 2px solid $blue-li-50;
  border-radius: .5em;

  padding: .5em;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .price {
    color: $blue;
    font-weight: bold;
  }

  .icon-window {
    margin-right: 1em;
  }

  h3 {
    margin: 0px;
  }

}

main {
  margin-top: 2em;
  margin-bottom: 1em;
}

.contact {
  display: flex;
  margin-bottom: 2em;
}